html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
}

a {
    //@apply .font-semibold;
    @apply .underline;
    @apply .text-blue-600;

    text-decoration-color: #bee3f8;
	-moz-text-decoration-color: #bee3f8;

    &:hover {
        @apply .text-blue-800;

        text-decoration-color: #3182ce;
        -moz-text-decoration-color: #3182ce;
    }
}

blockquote {
    @apply .relative;
    @apply .bg-blue-100;
    @apply .border-blue-300;
    @apply .border-t-8;
    @apply .font-normal;
    @apply .rounded-md;
    @apply .my-8;
    @apply .pl-20;
    @apply .py-4;
    @apply .pr-6;
    @apply .text-blue-700;
    @apply .text-lg;
    p {
        margin: 0;
    }
    
    &:before {
        content: '';
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        width: 1.8em;
        height: 1.8em;
        top: 14px;
        left: 24px;
        font-style: normal; 
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%233182ce' class='information-circle w-6 h-6'%3E%3Cpath fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }
}

code {
    @apply .bg-gray-100;
    @apply .px-2;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
    color: #aa5d00;
}

code.hljs {
    @apply .bg-transparent;
    @apply .p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply .font-normal;
        @apply .not-italic;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply .leading-tight;
    @apply .mb-4;
    @apply .mt-8;
    @apply .text-gray-900;
    @apply .tracking-tight;

    &:first-child {
        @apply .mt-0;
    }
}

h1 {
    @apply .font-bold;
    @apply .text-5xl;
}

h2 {
    @apply .font-bold;
    @apply .text-4xl;
}

h3 {
    @apply .font-bold;
    @apply .text-3xl;
}

h4 {
    @apply .font-normal;
    @apply .text-2xl;
}

h5 {
    @apply .font-normal;
    @apply .text-xl;
}

h6 {
    @apply .font-light;
    @apply .text-lg;
}

hr {
    @apply .border-b;
    @apply .border-blue-200;
    @apply .my-12;
    @apply .rounded-full;
}

li {
    ul,
    ol {
        @apply .my-0;
    }
}

ol,
ul {
    @apply .my-4;
}

ol {
    @apply .list-decimal;
}

p {
    @apply .my-3;

    @screen md {
        @apply .my-6;
    }
}

pre {
    @apply .bg-gray-100;
    @apply .leading-loose;
    @apply .my-6;
    @apply .overflow-x-auto;
    @apply .p-4;
    @apply .rounded-lg;
    @apply .shadow-xs;
    @apply .text-base;

    code {
        @apply .bg-transparent;
        @apply .block;
        @apply .p-0;
    }
}

::selection {
    @apply .bg-blue-500;
    @apply .text-white;
}

p > img {
    @apply .rounded-lg;
    @apply .shadow-xs;
}
